@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One way to success<br />
    Discipline, CMU 50200 <br />
    <abbr title="Phone">Phone:</abbr>
    0985951514
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Kanyarush.c@gmail.com</a><br />
    <strong>Support:</strong> <a href="mailto:Marketing@example.com">Artktp@gmail.com</a>
</address>